@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Welcome to Medical Appointing System. I am commited to protecting your privacy (In the future). The privacy policy will explain how I collect, use and disclose your information when you visit my website, or my our services in anyway.</p>
<br />
<br />
<p>When you register an account, book an appointment, or use my services, I will be collecting your personal information such as your first and last name, email address, address, phone number, and any other information you may choose to provide.>
</p>
<br /> 
<br />
<p>I will be using the information to
    <ul>
        <li>Schedule appointments and provice medical services</li>
        <li>Communicate with you about your appointments and provide customer support</li>
        <li>Comply with legal obligatiosn and protect our rights</li>
    </ul>
</p>